.h1 {
    color: green;
    border: 2px dotted black;
}

/* .body * {
    visibility: hidden;
}

.bodycard,
.bodycard * {
    visibility: visible;
}

.bodycard {
    position: absolute;
    left: 0;
    top: 0;
} */